@use '../../../../Styles/variables' as *;

$margin-bottom: 10px;

.blog-post {
    border-radius: 10px;
    padding: 20px;
    text-align: left;

    h3 {
        margin-bottom: $margin-bottom;
    }

    p {
        margin-bottom: $margin-bottom;
    }

    button {
        border: none;
        border-radius: 5px;
        cursor: pointer;
        padding: 5px 10px;
        background-color: $button-background-green;
        color: $button-color;
        transition: background-color 0.3s ease;

        &:hover {
            background-color: $button-hover-lighter-green;
        }
    }
}

.light-theme .blog-post{
    background-color: $light-theme-color-1;
    color: $light-theme-primary-color;
}

.dark-theme .blog-post{
    background-color: $dark-theme-color-1;
    color: $dark-theme-primary-color;
}
