@use './Styles/variables';

body {
    font-family: variables.$font-stack;
    margin: 0;
    padding: 0;
}

.portfolio {
    margin: 0 auto;
}

.light-theme {
    background-color: variables.$light-theme-background-color;
    color: variables.$light-theme-primary-color; /* Text color for light theme */
}

.dark-theme {
    background-color: variables.$dark-theme-background-color;
    color: variables.$dark-theme-primary-color; /* Text color for dark theme */
}
