$font-stack:  "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
$button-hover-lighter-green: #45a049;
$button-background-green: #4caf50;
$button-color: #fff;

$light-theme-background-color: #fff;
$light-theme-primary-color: #333;
$light-theme-color-1: #f0f0f0;
$light-theme-color-2: #555;
$light-theme-color-3: #eee;
$light-theme-color-4: #f5f5f5;
$light-theme-color-5: #f9f9f9;
$light-theme-border-color: #ddd;
$light-theme-border-lighter-color: #ccc;

$dark-theme-background-color: #111;
$dark-theme-primary-color: #fff;
$dark-theme-color-1: #222;
$dark-theme-color-2: #ddd;
$dark-theme-color-3: #333;
$dark-theme-color-4: #ccc;
$dark-theme-color-5: #444;
$dark-theme-border-color: #555;
$dark-theme-border-lighter-color: #666;